# Dependencies
/node_modules

# Environment variables
.env

# Service account keys and other secrets
firebaseauth.json

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor and OS files
.vscode
.idea
.DS_Store